.beginners {
	flex: 0 0 290px;
	outline: 1px solid red;
}

.beginners__list-title {
	font-size: 14px;
	color: #161f2d;
	text-decoration: none;
}

.beginners__other-text {
	font-size: 14px;
	color: #eb340e;

}