.block-title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #cdcdcd;

	padding-left: 16px;

	position: relative;
	margin: 8px 0;

	#{&}--color-black {
		color: #2b2b2b;
	}

	#{&}--color-white {
		color: #fff;
	}

	#{&}::before {
		content: '';
		position: absolute;
		left: 0;
		height: 100%;
		width: 5px;
		background-color: #eb340e;
	}
}