.escape-link {
	padding: 3px 11px;
	border: 1px solid #eb340e;

	font-size: 14px;
	color: #eb340e;
	text-decoration: none;

	background: transparent;
	transition: all .3s;

	#{&}:hover {
		background-color: #eb340e;
		border-color: #eb340e;
		color: #fff;
	}
}