.escape-link {
	padding: 3px 11px;
	border: 1px solid #eb340e;

	font-size: 14px;
	color: #eb340e;
	text-decoration: none;

	background: transparent;
	transition: all .3s;

	#{&}--size-lg {
		display: block;
		flex: 0 0 47%;
		padding: 7px 0;

		text-align: center;
	}

	#{&}:hover {
		background-color: #eb340e;
		border-color: #eb340e;
		color: #fff;
	}
}