.information {
	flex: 0 0 600px;
	outline: 1px solid red;
}

.information__slide-title {
	font-size: 14px;
	color: #3b3b3b;
}

.information__other-text {
	color: #eb340e;
}

.information__slide-date {
	font-size: 14px;
	color: #eb340e;
}