.label {
	font-size: 16px;
	color: #000;
	padding: 0 6px 10px 6px;

	position: relative;
	cursor: pointer;

	#{&}--color-grey {
		color: #cdcdcd;
	}

	#{&}::before {
		content: '';
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: #eb340e;
	}
}