.link-button {
	display: block;

	padding: 7px 0 5px 0;
	margin: 0 auto;

	font-size: 20px;
	color: #fff;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	background: #eb340e;
	border: 1px solid #fff;
	font-weight: 900;

	transition: all .3s;

	#{&}:hover {
		color: #eb340e;
		background: #fff;
		border: 1px solid #eb340e;
	}
}