.tile-buttons__download {
	padding: 42px 52px 42px 97px;

	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	background-color: #ba1f06;
}

.tile-buttons__link {
	padding: 55px 18px 15px 18px;

	font-size: 14px;
	text-decoration: none;
	text-align: center;
	color: #e4e4e4;

	background: #181717 url('../img/tile-buttons__link.jpg');
}